.settings-create {
    height: 40px;
}

.settings-label {
    padding-top: 2px;
    padding-left: 9px;
    font-size: 19px;
    -unity-font-style: bold;
}

.hide-info #affise-info {
    display:none;
}

.unity-list-view__reorderable-item__container  {
    justify-content: center;
    align-content: center;
}

.list-item  TextInput {
    margin-top: 0 ;
}

.settings-section {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
}